<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="navbar">
    <nav class="navbar">
        <a href="/home">Начало</a>
        <a href="/words">Архаични думи</a>
        <a href="/words/new">Добави дума</a>
        <a href="/categories">Категории</a>

        <form th:action="@{/search}" method="post" style="display:flex; gap:5px; margin-left:20px;">
            <input type="text" name="word" placeholder="Търси дума..." required>
            <button type="submit">Търси</button>
        </form>

        <a th:if="${not #authorization.expression('isAuthenticated()')}" href="/login">Вход</a>
        <a th:if="${not #authorization.expression('isAuthenticated()')}" href="/register">Регистрация</a>
    </nav>
</div>

</body>
</html>
