<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="UTF-8">
    <title>Нова категория</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h1>Създай категория</h1>

<form action="/categories" method="post">
    <label>Име:
        <input type="text" name="name" required minlength="3">
    </label>

    <label>Тип:
        <select name="type" required>
            <option value="DIALECT">Диалектна</option>
            <option value="CHURCH_SLAVIC">Църковнославянска</option>
            <option value="OLD_BULGARIAN">Старобългарска</option>
            <option value="FOLKLORE">Фолклор</option>
            <option value="MEDIEVAL">Средновековие</option>
            <option value="RENAISSANCE">Възраждане</option>
        </select>
    </label>

    <label>Описание:
        <textarea name="description"></textarea>
    </label>

    <button type="submit">Запази</button>
</form>
</body>
</html>
