<!DOCTYPE html>
<html lang="bg" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Категории</title>
    <link rel="stylesheet" href="/css/words-list.css">
    <link rel="stylesheet" href="/css/navbar.css">
</head>
<body>

<div th:replace="fragments/navbar :: navbar"></div>

<h1>Категории</h1>

    <div th:each="t : ${types}">
        <h2 th:text="${t.categoryName}"></h2>

        <ul>
            <li th:each="w : ${words}" th:if="${w.category == t}">
                <a th:href="@{'/words/' + ${w.id}}" th:text="${w.word}"></a>
            </li>
        </ul>

        <hr>
    </div>

</body>
</html>
