<!DOCTYPE html>
<html lang="bg" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Категории</title>
    <link rel="stylesheet" href="/css/categories.css">
</head>
<body>

<h1>Категории</h1>

    <div th:each="cat : ${categories}">
        <h2 th:text="${cat.type}"></h2>
        <p th:text="${cat.description}"></p>
        <ul>
            <li th:each="word : ${cat.words}">
                <a th:href="@{'/words/' + ${word.id}}" th:text="${word.word}"></a>
            </li>
        </ul>

        <hr>
    </div>

</body>
</html>
