<!DOCTYPE html>
<html lang="bg" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>LostLanguageLab</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
<header>
    <h1>LostLanguageLab</h1>
    <nav>
        <a href="/register">Регистрация</a>
        <a href="/login">Вход</a>
    </nav>
</header>

<main>
    <section>
        <h2>Архаични български думи</h2>
        <p>Проект за събиране, описване и запазване на стари, диалектни и исторически думи.</p>

    </section>
</main>
</body>
</html>
