<!DOCTYPE html>
<html lang="bg" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Детайли за дума</title>
    <link rel="stylesheet" href="/css/words-details.css">
</head>
<body>

<div th:replace="fragments/navbar :: navbar"></div>

<h1>Детайли за думата</h1>

<div>
    <p><strong>Дума:</strong>
        <span th:text="${word.word}"></span>
    </p>

    <p><strong>Значение:</strong>
        <span th:text="${word.meaning}"></span>
    </p>

    <p><strong>Етимология:</strong>
        <span th:text="${word.etymology}"></span>
    </p>

    <p><strong>Пример:</strong>
        <span th:text="${word.exampleUsage}"></span>
    </p>

    <p><strong>Категория:</strong>
        <span th:text="${word.category.categoryName}"></span>
    </p>
</div>

<br>

<h2>Коментари</h2>

<div th:if="${comments != null}">
    <div th:each="c : ${comments}" class="comment-item">
        <p>
            <strong th:text="${c.author.username}"></strong>:
            <span th:text="${c.content}"></span>
        </p>

        <div th:if="${#authorization.expression('hasRole(''ADMIN'')')
             or c.author.id == #authentication.principal.id}">
            <form th:action="@{/comments/delete/{id}(id=${c.id})}" method="post">
                <input type="hidden" name="wordId" th:value="${word.id}">
                <button type="submit">Изтрий</button>
            </form>
        </div>
        <hr>
    </div>
</div>

<h3>Добави коментар</h3>

<div th:if="${session.userId != null}">
    <form  class="comment-form" th:action="@{/comments/add/{id}(id=${word.id})}"
          method="post" th:object="${commentDto}">
        <textarea th:field="*{content}" rows="3" placeholder="Напиши коментар"></textarea>
        <p th:errors="*{content}"></p>

        <input type="hidden" th:field="*{wordId}" th:value="${word.id}">
        <input type="hidden" th:field="*{authorId}" th:value="${session.userId}">

        <button type="submit">Публикувай</button>
    </form>
</div>

    <p th:if="${session.userId == null}">
        Трябва да сте логнати, за да коментирате.
    </p>


</body>
</html>
