<!DOCTYPE html>
<html lang="bg" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Нова дума</title>
    <link rel="stylesheet" href="/css/word-form.css">
</head>
<body>

<div th:replace="fragments/navbar :: navbar"></div>

<h1>Добави архаична дума</h1>

<form th:action="@{/words/new}"
      th:object="${wordDTO}"
      method="post">

    <label>Дума:</label>
    <input type="text" th:field="*{word}">
    <p th:errors="*{word}"></p>

    <label>Значение:</label>
    <textarea th:field="*{meaning}"></textarea>
    <p th:errors="*{meaning}"></p>

    <label>Етимология:</label>
    <input type="text" th:field="*{etymology}">
    <p th:errors="*{etymology}"></p>

    <label>Пример:</label>
    <input type="text" th:field="*{exampleUsage}">
    <p th:errors="*{exampleUsage}"></p>

    <label>Категория:</label>
    <select th:field="*{category}">
        <option value="">-- Избери категория --</option>
        <option th:each="t : ${types}"
                th:value="${t}"
                th:text="${t.categoryName}">
        </option>
    </select>
    <p th:errors="*{category}"></p>

    <button type="submit">Запази</button>
</form>
</body>
</html>
