<!DOCTYPE html>
<html lang="bg" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Списък с думи</title>
    <link rel="stylesheet" href="/css/words-list.css">
</head>
<body>

<h1>Архаични думи</h1>

<table>
    <thead>
    <tr>
        <th>Дума</th>
        <th>Категория</th>
        <th>Действия</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="w : ${words}">
        <td th:text="${w.word}"></td>

        <td th:text="${w.category.categoryName}"></td>

        <td>
            <a th:href="@{'/words/' + ${w.id}}">Детайли</a>

            <form th:action="@{'/words/' + ${w.id} + '/delete'}"
                  method="post" style="display:inline;">
                <button type="submit"
                        onclick="return confirm('Сигурен ли си, че искаш да изтриеш думата?')">
                    Изтрий
                </button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>
